body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  height: 69px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.title h1 {
  text-align: left;
  height: 50px;
  color: seashell;
  font-family: "Brush Script MT",cursive;
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
}
nav span {
  display: inline-block;
  padding-right: 25px;
}
 a {
   color: seashell;
 }

.part1 {
  display: flex;
  height: 700px;
  width: 1200px;
  align-items: center;
  padding-top: 69px;
  background-image: url("../Images/img-mission-background.jpg");
}
.mission {
  background-color: black;
  width: 100%;
}

.mission h2 {
  text-align: center;
}

.mission h4 {
  text-align: center;
}
